/*.content {
   margin: 10px 10px 80px 10px; 
}*/
/*body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    flex: 1 0 auto;
  }*/
p{
	margin-left: 120px;
	margin-right: 120px;
}
.nav-wrapper {
    background-color: #880e4f;
}
nav{
	margin: 0px;
    padding: 0px;
    position: relative;
}
footer.page-footer {
    background-color: #880e4f;
    position: fix;
}

.content {
    margin: 30px;
}

.about {
    padding-left: 150px;
}
